<!DOCTYPE html>
<html>
	{% load static %}
  <head>
    <title>ROSA VR</title>
    <meta charset="UTF-8" />
    <style>
      body {
        background-color: #babbc5;
        margin: 0px;
      }
      a {
        color: #f00;
      }
      #info {
        color: #000000;
      }
      input{
        position: relative;
        z-index: 5;
      }
    </style>
  </head>

  <body>
    <div id="app"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<div class="water"></div>
<script>
	var best_position_json = {{best_position_json.position_file | safe}};
	var array_of_flowers = {{array_of_flowers | safe}};
	var vase_object = "{{vase_obj.object_3d.url}}"
</script>
<script  type="module" src="{% static 'src/index.js' %}"></script>
  </body>
</html>
